@import '~/styles/variables.css';

.base {
  width: 100%;
}

.content {
  max-width: var(--maxWidth);
  padding-top: 0;
  padding-bottom: 2rem;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  box-sizing: content-box;

  @media (--small-viewport) {
    margin-top: 0;
  }
}

.hr {
  margin-top: 1.5rem;
  border: 0;
  border-top: 5px double color(var(--gray) alpha(0.25));

  @media (--small-viewport) {
    margin-top: 0.5rem;
  }
}

.member-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 50px;

  @media (--small-viewport) {
    padding: 0;
  }
}

.research-input {
  padding-top: 0.5em;
  padding-bottom: 1.5em;
}

.read-more-wrapper {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.75rem;
}

.read-more {
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
  background: var(--white);
  border: 1px solid var(--cyan);
  color: var(--cyan);
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.125s ease;

  &:hover {
    color: var(--white);
    background: var(--cyan);
  }

  @media (--small-viewport) {
    font-size: 0.5rem;
  }
}
