{
  "presets": ["react-static/babel-preset.js"],
  "plugins": ["@babel/plugin-proposal-class-properties", "lodash", "module:fast-async"],
  "overrides": [
    {
      "test": ".",
      "presets": [
        [
          "@babel/preset-env",
          {
            "corejs": 3,
            "exclude": ["transform-regenerator"]
          }
        ]
      ]
    }
  ]
}
