@import "https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css";

header {
  height: 25vh;
  background-image: url("https://lh3.googleusercontent.com/yOu-u2MjNcP5Vso82ObtGzItcTnWNURFDI6JoK16MiDig54UKoLWABxTI15YCUQpnofttX4hAQn1SqJEo56baw6Jg4lgxS8JnLZy_Owmw5rYqQ6uKYgFhSCqfbLmfJddZJFdggWG5MQItG3FmjaRpeEyqX6rB7rB9-OnTQxa68H0zVa453vwXfa1aKw62B2Nyira_O7468xWsOCI7-pUapyI0eMoKRAriWIce7ASquFVAwUAF8imRYVf_jJ2T1Qi0HTb8eWbQz0LsrKGZkkZkCZVznOOh0Xk1zj33kUCf3d0qQnBDsqU4ezZ-Ne4eu-nsYGvVRrUfnVzYVh3B5lTeCg656W2zebO3D21BEnbWpxU6c9ncIapl3U8zu08_QMHMSJ4elTKn-dD3rrSQA66oOvqoL4mwEBwBfmAi7AJA9dxQdO7mfkUwQNMywkUEoz2jd7tUPNcMrAEhTtUjBiD-HykjOMoX1Fa4JhM9viEvgGX7jCOwHzB3-7Tw0CBEkXAt_GIuflYA_TAP8lFh-mumhPbKX1FV4NcTmQuDScHoHFsBIgrW-K8L9vjRRzDYtyZpzWpLil_takbodXFT62OmXa9bPHXwiZNfgLtE6nn9SDCdjxp_qzW=w1920");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #212121;
}

main {
}

main nav{
}

main nav a:hover,
    main nav a:hover > *{
  text-decoration: underline;
  background: rgba(0, 0, 0, .05);
}

section {
  padding-top: 48px;
  padding-top: 3.0rem;
  margin-top: -48px;
  margin-top: -3.0rem;
}

.article-card {
  position: relative;
  height: 100%;
  border-color: black
}

.article-card date{
  color: black;
}

.image-16-9 {
  width: 100%;

  background-color: #E0E0E0;
  background-position: center center;
  background-size: cover
}

.image-16-9:before{
  content: "";
  display: block;
  padding-bottom: 56.25%;
}

.link-card {
  color: inherit
}

.link-card .link-color{
  color: #0366d6;
}

.link-card:active,
  .link-card:hover{
  opacity: 0.5;
  text-decoration: none;
}

.link-card:active .link-color, .link-card:hover .link-color{
  text-decoration: underline;
}

.avatar-wrap {
  position: relative;
  width: 100px;
  height: 0;
  padding-bottom: 100px;

  background-color: #E0E0E0;
  background-size: cover;
}
