@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css";
@import "https://unpkg.com/basscss@8.0.2/css/basscss.min.css";
@import "https://unpkg.com/basscss-responsive-typography@1.0.1/css/responsive-typography.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.4.1/github-markdown.min.css";
@import "https://fonts.googleapis.com/css?family=Lato";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

html, body, .markdown-body {
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif
}

@media (max-width: 375px) {

  html, body, .markdown-body{
    font-size: 12px
  }
  }

@media (min-width: 375px) and (max-width: 40em) {

  html, body, .markdown-body{
    font-size: 14px
  }
  }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: #0366d6;
  text-decoration: none;
}

a:active,
a:hover {
  outline-width: 0;
  text-decoration: underline;
}

nav {
  width: 100%;
  z-index: 1;
  color: #212121;
  background: rgba(255, 255, 255, .95);
  font-weight: bolder;
  border-bottom: 1px solid #E0E0E0;
  height: auto
}

nav a{
  color: inherit;
  text-decoration: none
}

nav li{
  opacity: 1.0
}

nav li:hover{
  opacity: 0.5;
  cursor: pointer
}

nav .logo{
  padding-top: 8px;
  padding-top: 0.5rem;
  padding-bottom: 8px;
  padding-bottom: 0.5rem;
  height: 32px;
  height: 2.0rem
}

nav input[type="search"]{
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: transparent;
  font-family: "FontAwesome", 'Lato', -apple-system, BlinkMacSystemFont, "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif
}

.nav-padding {
  maring: 0;
  padding: 0;
  display: block;
  height: 96px;
  height: 6.0rem
}

@media (min-width: 52em) {

  .nav-padding{
    height: 3.0rem
  }
  }

footer {
  background: #212121;
  color: #FAFAFA;
}

.markdown-body {
}

.markdown-body li > p{
  margin: 0
}
