extends /_base.pug

block first
  | ---
  | ---
  |

block head
  title Redirecting... | 宮下研究室 - 明治大学 総合数理学部 先端メディアサイエンス学科
  meta(name="robots", content="noindex")
  link(rel="stylesheet", href="{{ site.url }}/style/index.css")
  script(src="https://unpkg.com/sush")
  script(src="https://unpkg.com/sush-plugin-add-object")
  script(src="https://unpkg.com/sush-plugin-redirect")
  script(src="{{ site.url }}/script/redirect.js", defer)

block body
  .nav-padding

  main.max-width-4.mx-auto.p2.pb4
    h1 Redirecting...
