@import '~/styles/variables.css';

.base {
  width: 100%;
}

.content {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 2rem;
  width: 100%;
  max-width: var(--maxWidth);
  margin: 0 auto;
}
