@import '~/styles/variables.css';

.base {
  width: 100%;
}

.content {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 2rem;
  max-width: var(--maxWidth);
  margin: 0 auto;
}

.section {
  padding-top: 1rem;
}

.project-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.link-list {
  text-align: center;
  font-size: 1.25rem;
}

.link {
  color: var(--cyan);
  border-bottom: 1px solid;
  transition: opacity 0.125s ease;

  &:hover {
    opacity: 0.5;
  }
}
