extends /_base.pug

block first
  | ---
  | ---
  |

block head
  title 宮下研究室 - 明治大学 総合数理学部 先端メディアサイエンス学科
  link(rel="stylesheet", href="{{ site.url }}/style/index.css")
  script.
    if (/p=\d+/.test(location.search)) location.href = '/redirect/' + location.search;
  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js")
  script(src="{{ site.url }}/script/index.js", defer)

block body
  .nav-padding

  header

  main.max-width-4.mx-auto.p2.pb4
    nav.center
      ul.list-reset.clearfix
        a(href="#news")
          li.col.col-3.inline-block.px1.border-right
            | 最新情報
        a(href="#projects")
          li.col.col-3.inline-block.px1.border-right
            | 研究内容
        a(href="#members")
          li.col.col-3.inline-block.px1.border-right
            | メンバー
        a(href="https://research.miyashita.com")
          li.col.col-3.inline-block.px1
            span 論文DB
            small #[i.ml1.fa.fa-external-link]

    section#news
      h2 最新情報
      | {% raw %}
      ul.flex.flex-wrap.list-reset.m0
        li.col.col-12.sm-col-6.md-col-4.lg-col-3.border-box.p2(v-for="news in newsList")
          a(v-bind:href="news.url")
            .article-card.border.rounded
              .image-16-9(v-bind:style="'background-image:url(\"'+news.image+'\");'")
              .px2.py1
                date.block.pr2 {{ news.date }}
                p.m0.pl2 {{ news.title }}
      | {% endraw %}
      p.m0.right-align
        a(href="https://news.miyashita.com") 過去の記事は こちらから >

    section#projects
      h2 研究内容
      ul.flex.flex-wrap.list-reset.m0
        | {% assign projects = site.articles | where: "layout", "project" | where: "visibleOnTopPage", true | sort: "title" | sort: "date" | reverse | shift: 4 %}
        | {% for project in projects %}
        | {% if project.layout == "project" %}
        li.col.col-12.sm-col-6.md-col-6.lg-col-4.p2
          a.article-card(href="{{ project.url }}")
            .image-16-9.rounded(style="background-image:url(\"{{ project.thumbnail }}\");")
            .px2.py1
              p.m0 {{ project.title }}
        | {% endif %}
        | {% endfor %}
      p.m0.right-align
        a(href="{{ site.url }}/projects") すべてのプロジェクトは こちらから >
      p.m0.pb1.right-align
        | #[a(href="/awards") 受賞一覧] / #[a(href="/grants") 助成一覧]

    section#members
      h2 メンバー
      .members-container.flex.flex-wrap
        | {% assign categories = site.articles | where: "layout", "member" | group_by: "category" | sort: "name" %}
        | {% for category in categories %}
        | {% if category.name != "99_OB" %}
        | {% assign group_by_year = category.items | group_by: "school_year" | sort: "name" | reverse %}
        | {% for group in group_by_year %}
        | {% assign members = group.items | sort: "title" %}
        | {% for member in members %}
        a.link-card.col.col-4.sm-col-3.md-col-2.center.p1(href="{{ member.url }}")
          .avatar-wrap.inline-block.overflow-hidden.rounded(style="background-image:url(\"{{ member.avatar }}\")")
          p.m0
            small.mr1 {{ category.name | split: '_' | last }}{{ group.name }}
            span.link-color {{ member.title }}
        | {% endfor %}
        | {% endfor %}
        | {% endif %}
        | {% endfor %}
      p.m0.right-align
        a(href="{{ site.url }}/members") OB・OG は こちらから >
