@import 'shared/variable.css';

.base {
  display: flex;
  position: absolute;
  min-height: 100%;
  width: 100%;
  flex-direction: column;
}

.main {
  display: flex;
  flex: 1;
  box-sizing: border-box;
}

.transition-wrapper {
  display: flex;
  flex: 1;
}
