@import 'shared/variable.css';

.base {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: var(--black);
}

.image {
  max-width: 100%;
  max-height: 320px;
  object-fit: contain;
}
