@import 'shared/variable.css';

.base {
  display: flex;
  position: relative;
  width: 100%;
}

.scroll-button {
  display: flex;
  width: 50px;
  font-size: 2em;
  cursor: pointer;
  flex: 0 0 50px;
  text-align: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  &:hover {
    color: color(var(--black) alpha(0.5));
  }

  @media (--small-viewport) {
    display: none;
  }
}

.scroll-button-disabled {
  color: color(var(--black) alpha(0.125));
}

.outer {
  flex: auto;
  overflow: hidden;
  margin: -5px 0;
  padding-bottom: 5px;

  @media (--small-viewport) {
    margin: 0 -15px;
    width: auto;
    overflow-x: auto;
  }
}

.inner {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow: visible;
  transition: transform ease 0.25s;

  @media (--small-viewport) {
    padding: 0 15px;

    &::after {
      content: '';
      flex: 0 0 15px;
    }
  }
}
