@import 'shared/variable.css';

.item-wrapper {
  width: calc(100% / 3);
  flex: 0 0 calc(100% / 3);
  padding: 0 15px;
  margin: 5px 0;
  box-sizing: border-box;

  @media (--small-viewport) {
    width: calc(100% / 2.25);
    flex: 0 0 calc(100% / 2.25);
    padding: 5px;
  }
}

.item {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 color(var(--black) alpha(0.25));
  overflow: hidden;
}

.thumbnail-image {
  width: 100%;
  background-color: var(--lightGray);
  background-position: center center;
  background-size: cover;

  &:before {
    content: '';
    display: block;
    padding-bottom: calc(100% * 9 / 16);
  }
}

.datetime {
  display: block;
  margin: 0;
  margin: 0.5em;
  color: var(--gray);
}

.title {
  display: block;
  margin: 0;
  margin: 0.5em;
}
