extends ../_base.pug

block head
  title {{ page.title }} | 宮下研究室 - 明治大学 総合数理学部 先端メディアサイエンス学科
  link(rel="stylesheet", href="{{ site.url }}/style/page.css")

block body
  .nav-padding
  main.max-width-4.mx-auto
    .markdown-body.overflow-hidden.p2
      h1 {{ page.title }}
      | {{ content }}
