extends ../_base.pug

block head
  title {{ page.title }} | 明治大学 宮下研究室
  link(rel="stylesheet", href="{{ site.baseurl }}/style/project.css")
  script(src="https://unpkg.com/mikanjs@1.0.8", charset="utf-8")
  script(src="{{ site.baseurl }}/script/project.js", defer)

block body
  header.relative
    .background
    .max-width-4.mx-auto
      h1.xs-hide.sm-hide.max-width-4.border-box.absolute.bottom-0.m0.pl2.pr4.pb2
        | {{ page.title }}
      h1.md-hide.lg-hide.max-width-4.border-box.absolute.bottom-0.m0.px2.pb2
        | {{ page.title }}
  main
    article.max-width-4.mx-auto
      .markdown-body.px2.pt2.pb3
        | {{ content }}
        p.border-top.px1.pt1
          | {% for category in page.categories %}
          a(href="{{ site.baseurl }}/projects/categories#{{ category | slugify }}")
            small.mr2.tag &#x23;{{ category }}
          | {% endfor %}
