extends /_base.pug

block first
  | ---
  | ---
  |

block head
  title Members | 明治大学 宮下研究室
  meta(name="robots", content="noindex")
  link(rel="stylesheet", href="{{ site.url }}/style/index.css")

block body
  .nav-padding

  main.max-width-4.mx-auto.p2.pb4
    section#members
      h1 Members
      h2 Current members
      .members-container.flex.flex-wrap
        | {% assign categories = (site.articles | where: "layout", "member" | group_by: "category" | sort: "name") %}
        | {% for category in categories %}
        | {% if category.name != "99_OB" %}
        | {% assign group_by_year = (category.items | group_by: "school_year" | sort: "name" | reverse) %}
        | {% for group in group_by_year %}
        | {% assign members = (group.items | sort: "title") %}
        | {% for member in members %}
        a.link-card.col.col-4.sm-col-3.md-col-2.center.p1(href="{{member.url}}")
          .avatar-wrap.inline-block.overflow-hidden.rounded(style="background-image:url(\"{{ member.avatar }}\")")
          p.m0 {{ member.title }}
        | {% endfor %}
        | {% endfor %}
        | {% endif %}
        | {% endfor %}
      h2 OB members
        | {% for category in categories %}
        | {% if category.name == "99_OB" %}
        | {% assign group_by_class = (category.items | group_by: "class" | sort: "name" | reverse) %}
        | {% for group in group_by_class %}
        | {% assign members = (group.items | sort: "title") %}
        | {% for member in members %}
        a.link-card.col.col-4.sm-col-3.md-col-2.center.p1(href="{{member.url}}")
          .avatar-wrap.inline-block.overflow-hidden.rounded(style="background-image:url(\"{{ member.avatar }}\")")
          p.m0 {{ member.title }}
        | {% endfor %}
        | {% endfor %}
        | {% endif %}
        | {% endfor %}
