@import "https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css";

header {
  height: 25vh;
  background-image: url("https://lh3.googleusercontent.com/GvSG0ySsC6ZLKTWE7V1hLxahnyP1WGt-F9AEK_-QFKL46egxTk-cP67KVy6dT_XDJA9_43y0BVJD4-aBqLFsxk5En-JnJuU__oUrth51xYfOazV3HF0ozfNjW7RNHcGZVgVcfJynd7aiQkcKZLjLXNTNqdZJjJ7LjwcwuxBijdo25tjy1RwdfCvItSUgBP5jbuZkbQmbp6dfidesgtuxBlceQ4Qi2lvS3DnXHsZxuKUchZS7Q4o5t_F9E8HyC7IwiMRNUB68wyD2v_GtCKFd3XjoJrQxZkr0gkNYejVaHlmcQPLyk3TqbKwM7PHgCLTWD2pQGNNGtCL96sWcpNBqXQcmgr5qEU-9ydG7PuKqmlX3aZz0Pt7UohdInMk-BhlPB3utQ4as2PL3vkeuKDqnTXg00fBI4I7wKciebBXCS5XG12zjncNobVw8jShsU74QQ2oovAOc6khDL5ZnrmvhMtKLqz3UFzDsHTEH_S3ZlvUvKb88g_vCI128YHm0DhikAChvE7Qp8WHayKSDIf-AHKl0ujgefQ0qRhC-RuQuYjPaFIUDNxSjZDE2xh0j7GR644UoboZPGx4PhvgF7bYWKH0t0uzmWGroirwWJWjYsYfpc6tVU23O-g=s0");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #212121;
}

main {
  & nav {
    & a:hover,
    & a:hover > * {
      text-decoration: underline;
      background: rgba(0, 0, 0, 0.05);
    }
  }
}

section {
  padding-top: 3.0rem;
  margin-top: -3.0rem;
}

.article-card {
  position: relative;
  height: 100%;
  border-color: black;

  & date {
    color: black;
  }
}

.image-16-9 {
  width: 100%;

  background-color: #E0E0E0;
  background-position: center center;
  background-size: cover;

  &:before {
    content:"";
    display: block;
    padding-bottom: calc(100% * 9 / 16);
  }
}

.link-card {
  &:active,
  &:hover {
    opacity: 0.5;
  }
}

.avatar-wrap {
  position: relative;
  width: 100px;
  height: 0;
  padding-bottom: 100px;

  background-color: #E0E0E0;
  background-size: cover;
}
