@import "https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css";

header {
  height: 25vh;
  background-image: url("https://lh3.googleusercontent.com/zzTg0sgIRa06EcsRKUvvLZwNNOgq1JuJ2n9wR4vKBI74fl5iEuqKS7ZXr4mGYL78qaE6OMOwCWgqDMNsoYwlC0cJldt8ZNZxjwI_0cHUXRAOWkjThMUoUk0je1dniS4E0-xShrTUjflynybPB8Wgxn-tx4mfQF3Z7YOMh2gIoaiuINh-doT-YAGq7Uh2nFx6SD6yslqMp7Zha7K3oPKQcF2u5vLkBoYx_Dj-pWOwtrWztjA4VzraKf3dO2Ij4CAuTpMSyxLOGQn45pFnj_ZTPuSgA-tO06kh3f-i_UpF-UTZ3eKEJksD9txLablr8GxGdxDZo4W5En0ZlBGDnr_P0ATsiEJ_OQRvXRmj5xUAtbXRJ48jox6EF2W8JR2kUJxeAcVkJE6zI89Wi84Ielwymtyjs0qRYeN0E9OTGTP2NBY4qVySSADk00uBbKEHxp1c34b2vJaLCNmv7oCxiJILn6uREKXajq4NBSa96-gTN3405qdNgK5AdgFrrD-m_U0jOurhkHzXQ3RL9ymut81-5nIbOyUlL2AKI8WTZZhKdxbhOltosIz-OMH_sZFT0ofwOKJTR80jcsd18Q9lbDOLXsd63LmMNxH1lKCLWYWw863OuuZCWQbn=w1920");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #212121;
}

main {
  & nav {
    & a:hover,
    & a:hover > * {
      text-decoration: underline;
      background: rgba(0, 0, 0, 0.05);
    }
  }
}

section {
  padding-top: 3.0rem;
  margin-top: -3.0rem;
}

.article-card {
  position: relative;
  height: 100%;
  border-color: black;

  & date {
    color: black;
  }
}

.image-16-9 {
  width: 100%;

  background-color: #E0E0E0;
  background-position: center center;
  background-size: cover;

  &:before {
    content:"";
    display: block;
    padding-bottom: calc(100% * 9 / 16);
  }
}

.link-card {
  color: inherit;

  & .link-color {
    color: #0366d6;
  }

  &:active,
  &:hover {
    opacity: 0.5;
    text-decoration: none;

    & .link-color {
      text-decoration: underline;
    }
  }
}

.avatar-wrap {
  position: relative;
  width: 100px;
  height: 0;
  padding-bottom: 100px;

  background-color: #E0E0E0;
  background-size: cover;
}
