@import "https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css";

header {
  height: 25vh;
  background-image: url("https://lh3.googleusercontent.com/jQ4kzdUcUi4IlMADbjfDcXiSFBC4Ol2zG4mSJisailLX9Q_SuCeGjZ3rF-uecHcnF2oSruUQSktZ0W28p03kKAsbgRhqBu4rr6R95vCKsiTdGMFE5jBqvIivnZVwOwUtnuK7dKvsqUNQS7Ms0d7HmhlAhUjOSWBWbyKz0W4x0SkcsmXLj_yaXHhluawG3-uaSFeWzqNt-KYWl1WdDMxJnQmzNTQgrU4i9F9TPXYqoYqpd5lNKOCEYXUs25Q-MVwB9DfZlPEayD8KLii2zRJ7QU-ThHJC4owFtJOS7V-j8C5JEl29kDpiL4NBRWGbNhYFS4c6nOTBnu_BxuHg62mNpXXiRF_E76QIEjy5Demy-wTyCx1j1wAWvUmbHkde_Vh1c1zke6Kr57NDnWH63afnQmzKO9pHnbe-LNKT7DM044EDXHNJXpom3i6p9cBgvCMBM17wMyZnGvy8SzAQpI6CErkqgsp6ZSea6TYOjgh5IfPD2awVJx2ye6B2D97iKbILYBRji8qGKXcJVaRLxYG6EhLr3p8Sd_AuNLYeK4ZUXQVpCTJxA1MY5AP9juzjP3BnOVP4jLf22vlYsheg8hHoyTVAx4SOcEHcZ_kCgu-wv-GV4sM-p05AXg=s0");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #212121;
}

main {
  & nav {
    & a:hover,
    & a:hover > * {
      text-decoration: underline;
      background: rgba(0, 0, 0, 0.05);
    }
  }
}

section {
  padding-top: 3.0rem;
  margin-top: -3.0rem;
}

.article-card {
  position: relative;
  height: 100%;
  border-color: black;

  & date {
    color: black;
  }
}

.image-16-9 {
  width: 100%;

  background-color: #E0E0E0;
  background-position: center center;
  background-size: cover;

  &:before {
    content:"";
    display: block;
    padding-bottom: calc(100% * 9 / 16);
  }
}

.link-card {
  &:active,
  &:hover {
    opacity: 0.5;
  }
}

.avatar-wrap {
  position: relative;
  width: 100px;
  height: 0;
  padding-bottom: 100px;

  background-color: #E0E0E0;
  background-size: cover;
}
