:root {
  --fontFamily: 'Yu Gothic', 'YuGothicNormalized', YuGothic, system-ui;

  /* Size */
  --fontSize: 16px;
  --fontSizeForMobile: 12px;
  --maxWidth: 1024px;

  /* Colors */
  --white: #fdfdfd;
  --black: #424242;
  --lightGray: #eeeeee;
  --gray: #9e9e9e;
  --cyan: #0097A7;

  --textColor: var(--black);
  --backgroundColor: var(--white);

  @custom-media --small-viewport (max-width: 640px);
}
